<!--PO-->
<div *ngIf="utilityService.selectedCountry=='portugal' && selectedlanguage=='po'">
  <h1 mat-dialog-title class="font-header">Manual de Utilizador</h1>

  <div id="Dataprotectionnotice" class="tabcontent Text_Font">
    <mat-dialog-content>
      <a href=""></a>
      <img src="/assets/images/portugal_help_manual.png" width="950" alt="image">

      <p style="margin-top:10px;">
        <b class="font-weight-bold">
          Notas
        </b>
      </p>
      <p>
        Se experienciar problemas a usar esta aplicação, pode ser devido a uma das seguintes razões:
      </p>


      <p>
        <b class="font-weight-bold">
          Problemas no formulário da Incapacidade Temporária:
        </b>
      </p>
      <p>
        Apenas os documentos standard de Incapacidade temporária podem ser submetidos. A fotografia deve obdecer com os regulamentos de proteção de dados, por essa razão não devem ser enviados via Bosch AUB Scan formulários com o diagnóstico visível, atestados médicos, declarações hospitalares, documentos de incapacidade temporária de crianças, formatos especiais, etc.

      </p>


      <p>
        <b class="font-weight-bold">
          Informação acerca da utilização do uso do Weblink:
        </b>
      </p>
      <p>
        Em primeiro lugar deverá ler a política de privacidade (clicar no link), só depois o botão “Seguinte” deverá ficar ativo para aceder à segunda página.

        <br />A informação pessoal só será salva depois de preencher a primeira página e depois seguir para a segunda página.

      </p>


      <p>
        <b class="font-weight-bold">
          Dicas e Requerimentos para tirar a fotografia
        </b>
      </p>
      <p>
        Assim que os requerimentos do formulário estejam devidamente preenchidos e verificados (Formulário standard de Incapacidade de Doença Temporária) é necessário que a fotografia enviada seja perfeitamente e que a mesma se encontre na orientação vertical e legível da esquerda para a direita. Por favor verifique que o texto do formulário fotografado se encontra perfeitamente visível. Adicionalmente, preste atenção se a sala onde tira a fotografia do documento se encontra bem Iluminada e depois verifique se o documento se encontra legível, a imagem não deverá estar desfocada.
        <br />Pode ser necessário ajustar as definições da camera, caso o tamanho do ficheiro seja demasiado grande (reduzir a resolução da fotografia). Apenas imagens com tamanho inferior a 10 MB podem ser processadas.
      </p>


      <p>
        <b class="font-weight-bold">
          Notas Adicionais:
        </b>
      </p>


      <p>
        Se não for possível enviar a fotografia do documento após ter seguido as sugestões anteriores,
        por favor contacte o Serviço de RH através do seu MyHR ou do número +351 800 106 633. <br />Obrigado.
      </p>
      <!--<p>
        Se não for possivel enviar a fotografia do document após ter seguido as notas anteriores, deverá enviar por email para o seguinte endereço de email:<br />
        <a target="_blank" href="hrservicept@pt.bosch.com" rel="noopener noreferrer">
          <span class="A-Link__linkText">hrservicept@pt.bosch.com</span>
        </a>

      </p>
      <p>
        Para mais questões por favor contacte GS/HRS-PO no seguinte contacto +351 800 106 633
      </p>-->

    </mat-dialog-content>

  </div>

  <!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
  </div>-->

</div>

<!--PO ENGLISH-->
<div *ngIf="utilityService.selectedCountry=='portugal' && selectedlanguage!='po'">
  <h1 mat-dialog-title class="font-header">Manual de Utilizador</h1>

  <div id="Dataprotectionnotice" class="tabcontent Text_Font">
    <mat-dialog-content>
      <a href=""></a>
      <img src="/assets/images/portugal_help_manual.png" width="950" alt="image">

      <p style="margin-top:10px;">
        <b class="font-weight-bold">
          Notas
        </b>
      </p>
      <p>
        Se experienciar problemas a usar esta aplicação, pode ser devido a uma das seguintes razões:
      </p>


      <p>
        <b class="font-weight-bold">
          Problemas no formulário da Incapacidade Temporária:
        </b>
      </p>
      <p>
        Apenas os documentos standard de Incapacidade temporária podem ser submetidos. A fotografia deve obdecer com os regulamentos de proteção de dados, por essa razão não devem ser enviados via Bosch AUB Scan formulários com o diagnóstico visível, atestados médicos, declarações hospitalares, documentos de incapacidade temporária de crianças, formatos especiais, etc.

      </p>


      <p>
        <b class="font-weight-bold">
          Informação acerca da utilização do uso do Weblink:
        </b>
      </p>
      <p>
        Em primeiro lugar deverá ler a política de privacidade (clicar no link), só depois o botão “Seguinte” deverá ficar ativo para aceder à segunda página.

        <br />A informação pessoal só será salva depois de preencher a primeira página e depois seguir para a segunda página.

      </p>


      <p>
        <b class="font-weight-bold">
          Dicas e Requerimentos para tirar a fotografia
        </b>
      </p>
      <p>
        Assim que os requerimentos do formulário estejam devidamente preenchidos e verificados (Formulário standard de Incapacidade de Doença Temporária) é necessário que a fotografia enviada seja perfeitamente e que a mesma se encontre na orientação vertical e legível da esquerda para a direita. Por favor verifique que o texto do formulário fotografado se encontra perfeitamente visível. Adicionalmente, preste atenção se a sala onde tira a fotografia do documento se encontra bem Iluminada e depois verifique se o documento se encontra legível, a imagem não deverá estar desfocada.
        <br />Pode ser necessário ajustar as definições da camera, caso o tamanho do ficheiro seja demasiado grande (reduzir a resolução da fotografia). Apenas imagens com tamanho inferior a 10 MB podem ser processadas.
      </p>


      <p>
        <b class="font-weight-bold">
          Notas Adicionais:
        </b>
      </p>


      <p>
        Se não for possível enviar a fotografia do documento após ter seguido as sugestões anteriores,
        por favor contacte o Serviço de RH através do seu MyHR ou do número +351 800 106 633. <br />Obrigado.
      </p>
      <!--<p>
        Se não for possivel enviar a fotografia do document após ter seguido as notas anteriores, deverá enviar por email para o seguinte endereço de email:<br />
        <a target="_blank" href="hrservicept@pt.bosch.com" rel="noopener noreferrer">
          <span class="A-Link__linkText">hrservicept@pt.bosch.com</span>
        </a>

      </p>
      <p>
        Para mais questões por favor contacte GS/HRS-PO no seguinte contacto +351 800 106 633
      </p>-->

    </mat-dialog-content>

  </div>

  <!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
  </div>-->

</div>

<!--FR-->
<div *ngIf=" utilityService.selectedCountry=='france' && selectedlanguage=='fr'">
  <h1 mat-dialog-title class="font-header">Manuel d‘utilisation</h1>

  <div id="Dataprotectionnotice" class="tabcontent Text_Font">
    <mat-dialog-content>
      <a href=""></a>
      <img src="/assets/images/french_help_manual.png" width="950" alt="image">

      <!--<hr style="height:2px;border-width:0;color:gray;background-color:gray">-->
      <p style="margin-top:10px;">
        <b class="font-weight-bold">
          Notes
        </b>
      </p>
      <p>
        Si vous avez des problèmes avec l’application, cela peut être pour une des raisons suivantes :
      </p>


      <p>
        <b class="font-weight-bold">
          Exemplaire de l’Arrêt de travail à transmettre :
        </b>
      </p>
      <p>
        Merci de transmettre uniquement le volet 3 destiné à l’employeur, et non le volet 1 et 2 destinés à la CPAM.
        La photo à télécharger dans l’application doit respecter les règles de protection des données.
        Elle ne doit comporter aucune information médicale. Les certificats concernant l’accompagnement d’enfants ne
        peuvent pas être traités avec cette application.

      </p>


      <p>
        <b class="font-weight-bold">
          Information sur le lien web :
        </b>
      </p>
      <p>
        Afin d’activer le bouton “continuer”, il est nécessaire d’ouvrir le lien sur la protection des données et de prendre connaissance de son contenu.
      </p>


      <p>
        <b class="font-weight-bold">
          Conseils pour prendre les photos à télécharger :
        </b>
      </p>
      <p>
        L’application procède à une vérification partielle de l’arrêt de travail scanné. Il est donc nécessaire de prendre la photo à télécharger en format portrait comme si vous vouliez lire l’arrêt, de faire attention aux conditions lumineuses et de vérifier que la photo soit nette.
        <br />Il peut être nécessaire de réduire la taille de la photo dans les paramètres de l’appareil photo. L’application ne transfère que des images dont la taille est inférieure à 10MO.
      </p>


      <p>
        <b class="font-weight-bold">
          Note supplémentaire
        </b>
      </p>


      <p>
        En cas d’autres questions, vous pouvez contacter HR Service France via l’adresse mail  <br />

        <a target="_blank" href="HRServiceFR@fr.bosch.com" rel="noopener noreferrer">
          <span class="A-Link__linkText">HRServiceFR@fr.bosch.com</span>
        </a>
        <span> ou au +33 1 75 34 55 50.</span>
      </p>

    </mat-dialog-content>

  </div>

  <!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
  </div>-->

</div>
<!--fr-en-->
<div *ngIf=" utilityService.selectedCountry=='france' && selectedlanguage!='fr'">
  <h1 mat-dialog-title class="font-header">Manuel d‘utilisation</h1>

  <div id="Dataprotectionnotice" class="tabcontent Text_Font">
    <mat-dialog-content>
      <a href=""></a>
      <img src="/assets/images/french_help_manual.png" width="950" alt="image">

      <p style="margin-top:10px;">
        <b class="font-weight-bold">
          Notes
        </b>
      </p>
      <p>
        Si vous avez des problèmes avec l’application, cela peut être pour une des raisons suivantes :
      </p>


      <p>
        <b class="font-weight-bold">
          Exemplaire de l’Arrêt de travail à transmettre :
        </b>
      </p>
      <p>
        Merci de transmettre uniquement le volet 3 destiné à l’employeur, et non le volet 1 et 2 destinés à la CPAM.
        La photo à télécharger dans l’application doit respecter les règles de protection des données.
        Elle ne doit comporter aucune information médicale. Les certificats concernant l’accompagnement d’enfants ne
        peuvent pas être traités avec cette application.

      </p>


      <p>
        <b class="font-weight-bold">
          Information sur le lien web :
        </b>
      </p>
      <p>
        Afin d’activer le bouton “continuer”, il est nécessaire d’ouvrir le lien sur la protection des données et de prendre connaissance de son contenu.
      </p>


      <p>
        <b class="font-weight-bold">
          Conseils pour prendre les photos à télécharger :
        </b>
      </p>
      <p>
        L’application procède à une vérification partielle de l’arrêt de travail scanné. Il est donc nécessaire de prendre la photo à télécharger en format portrait comme si vous vouliez lire l’arrêt, de faire attention aux conditions lumineuses et de vérifier que la photo soit nette.
        <br />Il peut être nécessaire de réduire la taille de la photo dans les paramètres de l’appareil photo. L’application ne transfère que des images dont la taille est inférieure à 10MO.
      </p>


      <p>
        <b class="font-weight-bold">
          Note supplémentaire
        </b>
      </p>


      <p>
        En cas d’autres questions, vous pouvez contacter HR Service France via l’adresse mail  <br />

        <a target="_blank" href="HRServiceFR@fr.bosch.com" rel="noopener noreferrer">
          <span class="A-Link__linkText">HRServiceFR@fr.bosch.com</span>
        </a>
        <span> ou au +33 1 75 34 55 50.</span>
      </p>

    </mat-dialog-content>

  </div>

  <!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
  </div>-->

</div>


<!--ES-->
<div *ngIf=" utilityService.selectedCountry=='spain' ">
  <h1 mat-dialog-title class="font-header">Manual de usuario</h1>

  <div id="Dataprotectionnotice" class="tabcontent Text_Font">
    <mat-dialog-content>
      <a href=""></a>
      <img src="/assets/images/spain_help_manual.png" width="950" alt="image">

      <!--<hr style="height:2px;border-width:0;color:gray;background-color:gray">-->
      <p style="margin-top:10px;">
        <b class="font-weight-bold">
          Notas
        </b>
      </p>
      <p>
        Si tiene problemas para utilizar la aplicación, puede deberse a una de las siguientes razones:

      </p>


      <p>
        <b class="font-weight-bold">
          Principios básicos

        </b>
      </p>
      <p>
        La configuración personal de su propio dispositivo podría causar errores. La WLAN de Bosch debe estar desactivada en los teléfonos móviles de empresa. El envío no es posible aqui debido a la falta de acceso a Internet. Por favor, compruebe la configuración de actualización de la aplicación, actualice manualmente si es necesario. En caso de duda, vuelva a instalar. Desinstale la versión antigua antes de volver a instalarla.


      </p>


      <p>
        <b class="font-weight-bold">
          Información sobre el uso de la aplicación

        </b>
      </p>
      <p>
        En primer lugar , la política de privacidad debe ser leída (haga clic en el enlace), a continuación, se activa el botón Siguiente para pasar a la segunda página. Los datos personales se guardarán sólo después de cumplimentar la primera pagina y pasando después a la segunda

      </p>


      <p>
        <b class="font-weight-bold">
          Consejos y requisitos para hacer la foto

        </b>
      </p>
      <p>
        Se debe permitir el acceso a las fotos cuando se solicite. Si se ha pulsado por error "denegado", el acceso se puede cambiar manualmente en el smartphone a través de la configuración de la aplicación Bosch SAM. Si esto no funciona, por favor desinstale y vuelva a instalar Bosch SAM. Dado que se comprueban los requisitos del documento, es necesario que la foto tomada o cargada sea legibe de izquierda a derecha.
        <br />Tenga en cuenta que al fotografiar el documento, la parte del texto debe ser al menos el 70%. Además, compruebe las condiciones de iluminación y la calidad de la imagen. La imagen no debe estar borrosa.Es posible que haya que ajustar la configuración de la cámara debido al tamaño del archivo (reducir resolución). Sólo se pueden procesar imágenes de menos de 10 MB.


      </p>


      <p>
        <b class="font-weight-bold">
          Notas adicionales

        </b>
      </p>


      <p>
        Si no se puede enviar la foto a pesar de tener en cuenta la información anterior, puede enviarla por correo electronico a la siguiente dirección: 
        
        <br />

        <a target="_blank" href="hrservicees@es.bosch.com" rel="noopener noreferrer">
          <span class="A-Link__linkText">hrservicees@es.bosch.com</span>
        </a>
        <span>Si tiene más preguntas, pónganse en contacto con GS/HRS en el número de teléfono    +34914102111</span>
      </p>

    </mat-dialog-content>

  </div>

  <!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
  </div>-->

</div>
<!--fr-en-->


<div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="center">
  <button mat-raised-button color="primary" mat-button (click)="onNoClick()">Ok</button>

</div>
