//
// Colours
// ==========================================================================
$callout-text-color--inverted: $color-white-paper-white;
$callout-background-color--inverted: rgba(255, 255, 255, 0.15);

$callout-text-color--error: $color-red-monza;
$callout-background-color--error: rgba($color-red-monza, 0.15);

/* stylelint-disable */
// Disables as stylelint throws error because colors are the same, just
// with different opacity
$callout-text-color--warning: #fbaf16;
$callout-background-color--warning: rgba(251, 175, 22, 0.15);
/* stylelint-enable */

//
// Spacing
// ==========================================================================
$callout-padding: map-get($spacing-vertical, l);
$callout-margin-bottom: map-get($spacing-vertical, l);

$callout-icon-margin-right: map-get($spacing-vertical, l);

//
// Sizing
// ==========================================================================
$callout-min-height: 65px;

//
// Font Sizing/Weights
// ==========================================================================
$callout-text-font-size: map-get($font-sizes, smaller);
$callout-text-font-weight: map-get($font-weights, normal);

.rb-callout-error,
.rb-callout-warning {
  display: flex;
  min-height: $callout-min-height;
  padding: $callout-padding;
  margin-bottom: $callout-margin-bottom;
  font-size: $callout-text-font-size;
  font-weight: $callout-text-font-weight;
  align-items: center;

  > rb-icon {
    flex: none;
    display: inline-block;
    font-size: 2em;
    margin-right: $callout-icon-margin-right;
  }
}

.rb-callout-error {
  color: $callout-text-color--error;
  background-color: $callout-background-color--error;
}

.rb-callout-warning {
  color: $callout-text-color--warning;
  background-color: $callout-background-color--warning;
}
