//
// Sizes
// ==========================================================================

$checkbox-icon-width: 20px;
$checkbox-icon-height: 20px;

//
// Spacing
// ==========================================================================

$checkbox-label-padding-left: map-get($spacing-vertical, xl);
$checkbox-label-font-size: map-get($font-sizes, smaller);
$checkbox-icon-margin-left: map-get($spacing-vertical, xs);
$checkbox-icon-margin-top: 4px;
$checkbox-icon-position-bottom: 1px;
$checkbox-label-padding-top: 14px;
$checkbox-label-text-margin-left: 4px;
$form-field-input-horizontal-padding: $grid-gutter-width / 2;

//
// Colors
// ==========================================================================

$checkbox-icon-background--disabled: $color-gray-alabaster;
$checkbox-icon-border-color--disabled: $color-gray-alto;
$checkbox-icon-border-bottom: 1px solid $color-gray-silver;
$checkbox-icon-background-color: $color-gray-gallery;
$checkbox-validation-error-text-color: $color-red-monza;

//
// Typography
// ==========================================================================

$checkbox-label-text-font-size: map-get($font-sizes, small);

rb-form-checkbox,
rb-form-multi-checkbox {
  .input-wrapper {
    padding-left: $checkbox-label-padding-left;
    padding-top: $checkbox-label-padding-top;
    user-select: none;
  }

  &.indented .input-wrapper {
    padding-left: $checkbox-label-padding-left + $form-field-input-horizontal-padding;
  }

  .checkbox-control {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .checkbox-icon {
    background-color: $checkbox-icon-background-color;
    border-bottom: $checkbox-icon-border-bottom;
    margin-left: -$checkbox-label-padding-left;
    margin-right: $checkbox-label-text-margin-left;
    display: inline-block;
    height: $checkbox-icon-height;
    left: 0;
    top: $checkbox-icon-margin-top;
    position: relative;
    width: $checkbox-icon-width;
    transition: all $transition-duration-s $ease-in-out-quint;
    cursor: pointer;

    .check, .cross {
      display: none;
      left: $checkbox-icon-margin-left;
      top: $checkbox-icon-margin-top;
      fill: $color-blue-dark-bahama-blue;
      line-height: 11px;
      position: absolute;
      svg {
        width: 11px;
        height: 11px;
      }
    }
  }
  .label-text {
    //vertical-align: top;
  }
  .checkbox-control:checked ~ .checkbox-icon .check,
  .stateTrue > .checkbox-icon .check {
    display: inline-block;
  }
  .stateFalse > .checkbox-control:checked ~ .checkbox-icon,
  .stateFalse > .checkbox-icon {
    .cross {
      display: inline-block;
    }
    .check {
      display: none;
    }
  }
  .checkbox-control:focus ~ .checkbox-icon {
    outline: $checkbox-icon-border-bottom;
  }
  .checkbox-control.ng-invalid.ng-dirty:not(.no-validation) ~ .label-text {
    color: $checkbox-validation-error-text-color;
  }

  &.white {
    .checkbox-icon {
      background: $color-white-paper-white;
    }
  }

  &.static {
    .input-wrapper {
      padding-top: 0;
      > label {
        margin-bottom: 0;
      }
    }
    .checkbox-icon {
      background: $color-white-paper-white;
    }

  }

}
