rb-modal {

  margin: auto;

  &.hidden {
    display: none;
  }

  .modal-box {
    background: $color-white-paper-white;
    display: inline-block;
    min-width: 250px;
    position: relative;
    padding: $default-spacing;
    margin: $default-spacing;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: $default-spacing;
    }

  }

  &.top {
    align-self: start;
  }

  &.bottom {
    align-self: end;
  }
}

.rb-modal-backdrop {
  background: rgba(173, 173, 173, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1500;
  justify-content: safe center;
  align-items: center;
  align-items: safe center;
  overflow: auto;

  &.large-fix {
    align-items: start;
  }
}

body.rb-modal-open {
  overflow: hidden;
  .rb-modal-backdrop {
    display: flex;
  }
}

@supports (filter: blur(5px)) {
  body.rb-modal-open .rb-modal-frost {
    filter: blur(5px);
  }
}

rb-dialog {
  .dialog-title {
    margin-top: $default-spacing;
  }
  .dialog-buttons {
    margin-top: $default-spacing;
    text-align: right;
  }
}

rb-alert {
  text-align: center;
  rb-icon {
    display: block;
    font-size: 4em;
    margin-top: -1em;
  }
  .dialog-title {

  }
  .dialog-text {
    text-align: center;
  }
  .dialog-buttons {
    .rb-btn {
      margin-top: $default-spacing;
      text-align: center;
      width: 100%;
    }
  }
}
