@mixin teaser-panel-columns($columns) {
  grid-template-columns: repeat($columns, 1fr);

  // grid fix for MSIE, support up to 100 items
  @for $i from 0 through 100 {
    rb-teaser-panel-item:nth-child(#{$i + 1}) {
      -ms-grid-column: $i % $columns + 1;
      -ms-grid-row: floor($i / $columns) + 1;
    }
  }

}

.teaser-panel {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  margin: map-get($spacing-vertical, s) * -1;

  &.teaser-panel-small {
    @include teaser-panel-columns(2);
  }

  &.teaser-panel-medium {
    @include teaser-panel-columns(1);
  }

  &.teaser-panel-large {
    @include teaser-panel-columns(1);
  }

}


rb-teaser-panel-item {
  display: flex;
  flex-direction: column;
  padding: map-get($spacing-vertical, s);

  .item-bottom {
    padding-top: map-get($spacing-vertical, s);
    margin-top: auto;
  }

  h2, h3, h4 {
    margin-bottom: map-get($spacing-vertical, s);
  }

  &.centered {
    justify-content: center;
    text-align: center;
  }

}

rb-teaser-panel.hover-shade rb-teaser-panel-item:hover {
  background-color: $color-gray-alabaster;
}

// larger sm
@media (min-width: map-get($rb-grid-breakpoints, sm)) {
  .teaser-panel {
    margin: map-get($spacing-vertical, m) * -1;
    rb-teaser-panel-item {
      padding: map-get($spacing-vertical, m);
    }
    &.teaser-panel-small {
      @include teaser-panel-columns(3);
    }

    &.teaser-panel-medium {
      @include teaser-panel-columns(2);
    }

    &.teaser-panel-large {
      @include teaser-panel-columns(1);
    }
  }
}

// larger md
@media (min-width: map-get($rb-grid-breakpoints, md)) {
  .teaser-panel {
    margin: map-get($spacing-vertical, l) * -1;
    rb-teaser-panel-item {
      padding: map-get($spacing-vertical, l);
    }
    &.teaser-panel-small {
      @include teaser-panel-columns(4);
    }

    &.teaser-panel-medium {
      @include teaser-panel-columns(3);
    }

    &.teaser-panel-large {
      @include teaser-panel-columns(2);
    }
  }
}

// larger lg
@media (min-width: map-get($rb-grid-breakpoints, lg)) {
  .container-full {
    .teaser-panel {
      &.teaser-panel-small {
        @include teaser-panel-columns(5);
      }

      &.teaser-panel-medium {
        @include teaser-panel-columns(4);
      }

      &.teaser-panel-large {
        @include teaser-panel-columns(3);
      }
    }
  }

}

// larger xl
@media (min-width: map-get($rb-grid-breakpoints, xl)) {
  .container-full {
    .teaser-panel {
      &.teaser-panel-small {
        @include teaser-panel-columns(6);
      }

      &.teaser-panel-medium {
        @include teaser-panel-columns(5);
      }

      &.teaser-panel-large {
        @include teaser-panel-columns(4);
      }
    }
  }

}
