<style>
  table {
    font-family: boschsans_light;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>


<table>
  <tr>
    <th>Component Name</th>
    <th>Version</th>
    <th>Download Link</th>
    <th>Declared FOSS License</th>
  </tr>
  <tr>
    <td>angular-cli - angular/angular-cli</td>
    <td>6.0.8</td>
    <td>https://www.npmjs.org/package/@ngtools/webpack</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Application Insights for ASP.NET Core Web Applications</td>
    <td>2.5.1</td>
    <td>http://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Application Insights Performance Counters Collector</td>
    <td>2.8.1</td>
    <td>http://www.nuget.org/packages/Microsoft.ApplicationInsights.PerfCounterCollector</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Application Insights Telemetry Channel for Windows Server...</td>
    <td>2.8.1</td>
    <td>http://www.nuget.org/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Application Insights Windows Server</td>
    <td>2.8.1</td>
    <td>http://www.nuget.org/packages/Microsoft.ApplicationInsights.WindowsServer</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Bricelam.EntityFrameworkCore.Pluralizer</td>
    <td>1.0.0</td>
    <td>https://github.com/bricelam/EFCore.Pluralizer/tree/1.0.0</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>dotnet_framework_461</td>
    <td>4.6.1</td>
    <td>https://dotnet.microsoft.com/download/dotnet-framework/net472</td>
    <td>Commercial License</td>
  </tr>
  <tr>
    <td>flag-icon-css</td>
    <td>Unspecified</td>
    <td>http://github.com/lipis/flag-icon-css/</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>Microsoft ApplicationInsights Instrumentation Intercept Extension</td>
    <td>2.4.0</td>
    <td>http://www.nuget.org/packages/Microsoft.ApplicationInsights.Agent.Intercept</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>Microsoft.AI.DependencyCollector</td>
    <td>2.8.1.19196</td>
    <td>https://github.com/Microsoft/ApplicationInsights-dotnet</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Microsoft.ApplicationInsights</td>
    <td>2.8.1</td>
    <td>https://github.com/Microsoft/ApplicationInsights-dotnet/tree/2.8.1</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore</td>
    <td>2.1.6</td>
    <td>https://github.com/aspnet/MetaPackages/tree/2.1.6</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Antiforgery</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Antiforgery</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.AspNetCore.Authentication.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.AspNetCore.Authentication.Core</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.Core</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Authorization</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Authorization</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Authorization.Policy</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Authorization.Policy</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Connections.Abstractions</td>
    <td>2.1.3</td>
    <td>https://github.com/dotnet/aspnetcore/tree/2.1.3</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Cors</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Cors</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Cryptography.Internal</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Cryptography.Internal</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.DataProtection</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.DataProtection</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.DataProtection.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.DataProtection.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Diagnostics</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Diagnostics.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.HostFiltering</td>
    <td>2.1.1</td>
    <td>https://github.com/dotnet/aspnetcore</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Hosting</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Hosting</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Hosting.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Hosting.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Hosting.Server.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Hosting.Server.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Html.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Html.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Http</td>
    <td>Unspecified</td>
    <td>https://www.nuget.org/packages/Microsoft.AspNetCore.Http</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Http.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Http.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Http.Extensions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Http.Extensions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Http.Features</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Http.Features</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.HttpOverrides</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.HttpOverrides</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.HttpsPolicy</td>
    <td>2.1.1</td>
    <td>https://github.com/dotnet/aspnetcore/tree/2.1.1</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.JsonPatch</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.JsonPatch</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Localization</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Localization</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Abstractions</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.ApiExplorer</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.ApiExplorer</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Core</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Core</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Cors</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Cors</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.DataAnnotations</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.DataAnnotations</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Formatters.Json</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Formatters.Json</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Localization</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Localization</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Razor</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Razor</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.Razor.Extensions</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Razor.Extensions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.RazorPages</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.RazorPages</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.TagHelpers</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.TagHelpers</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Mvc.ViewFeatures</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.ViewFeatures</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.NodeServices</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.NodeServices</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Razor</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Razor</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Razor.Language</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Razor.Language</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Razor.Runtime</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Razor.Runtime</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.AspNetCore.ResponseCaching.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.ResponseCaching.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.AspNetCore.Routing</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Routing</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Routing.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Routing.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Server.IISIntegration</td>
    <td>2.1.2</td>
    <td>https://www.nuget.org/packages/Microsoft.AspNetCore.Server.IISIntegration</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Server.Kestrel</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Server.Kestrel.Core</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel.Core</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Server.Kestrel.Https</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel.Https</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets</td>
    <td>2.1.3</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.Session</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.Session</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.SpaServices</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.SpaServices</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.SpaServices.Extensions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.SpaServices.Extensions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.StaticFiles</td>
    <td>2.1.1</td>
    <td>https://www.nuget.org/packages/Microsoft.AspNetCore.StaticFiles</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.WebSockets</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.AspNetCore.WebUtilities</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.AspNetCore.WebUtilities</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Azure.KeyVault.Core</td>
    <td>1.0.0</td>
    <td>https://github.com/Azure/azure-sdk-for-net/tree/v1.0.0</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Azure.Storage.Blob</td>
    <td>9.4.0</td>
    <td>https://github.com/Azure/azure-storage-net/tree/v9.4.0/Blob</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Azure.Storage.Common</td>
    <td>9.4.0</td>
    <td>http://www.nuget.org/packages/Microsoft.Azure.Storage.Common</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.CodeAnalysis</td>
    <td>2.8.0</td>
    <td>https://github.com/dotnet/roslyn/tree/version-2.8.0</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.CodeAnalysis.CSharp</td>
    <td>2.8.0</td>
    <td>https://github.com/dotnet/roslyn/tree/version-2.8.0</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.CodeAnalysis.Razor</td>
    <td>2.1.1</td>
    <td>https://github.com/dotnet/aspnetcore/tree/2.1.1</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.DiaSymReader.Native.x86</td>
    <td>1.7.0</td>
    <td>https://github.com/dotnet/roslyn</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.DotNet.PlatformAbstractions</td>
    <td>2.1.1</td>
    <td>https://github.com/dotnet/core-setup/tree/v2.1.0</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>Microsoft.EntityFrameworkCore</td>
    <td>2.1.4</td>
    <td>http://www.nuget.org/packages/Microsoft.EntityFrameworkCore</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.EntityFrameworkCore.Abstractions</td>
    <td>2.1.4</td>
    <td>https://github.com/dotnet/efcore/tree/2.1.4</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.EntityFrameworkCore.Design</td>
    <td>2.1.4</td>
    <td>http://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Design</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.EntityFrameworkCore.Relational</td>
    <td>2.1.4</td>
    <td>http://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Relational</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.EntityFrameworkCore.SqlServer</td>
    <td>2.1.4</td>
    <td>http://www.nuget.org/packages/Microsoft.EntityFrameworkCore.SqlServer</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Caching.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Caching.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Caching.Memory</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Caching.Memory</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Configuration</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.Configuration.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Configuration.Binder</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.Binder</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Configuration.CommandLine</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.CommandLine</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Configuration.EnvironmentVariables</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.EnvironmentVariables</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Configuration.FileExtensions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.FileExtensions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Configuration.Json</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.Json</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Configuration.UserSecrets</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Configuration.UserSecrets</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.DependencyInjection</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.DependencyInjection.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.DependencyModel</td>
    <td>2.1.0</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.DependencyModel</td>
    <td>MIT License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.DiagnosticAdapter</td>
    <td>1.0.2</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.DiagnosticAdapter</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td> Microsoft.Extensions.FileProviders.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.FileProviders.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.FileProviders.Composite</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.FileProviders.Composite</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.FileProviders.Embedded</td>
    <td>2.0.0</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.FileProviders.Embedded</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.FileProviders.Physical</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.FileProviders.Physical</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.FileSystemGlobbing</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.FileSystemGlobbing</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Hosting.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Hosting.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Localization</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Localization</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.Localization.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Localization.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.Logging</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Logging</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Logging.Abstractions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Logging.Configuration</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Logging.Configuration</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Logging.Console</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Logging.Console</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Microsoft.Extensions.Logging.Debug</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Logging.Debug</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.ObjectPool</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.ObjectPool</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Options</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Options</td>
    <td>Apache License 2.0</td>
  </tr>
  <tr>
    <td>Microsoft.Extensions.Options.ConfigurationExtensions</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Options.ConfigurationExtensions</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.Primitives</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.Primitives</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Extensions.WebEncoders</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Extensions.WebEncoders</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.Net.Http.Headers</td>
    <td>2.1.1</td>
    <td>http://www.nuget.org/packages/Microsoft.Net.Http.Headers</td>
    <td>Apache License 2.0</td>
  </tr>

  <tr>
    <td>Microsoft.VisualStudio.Web.BrowserLink</td>
    <td>2.1.0</td>
    <td>http://www.nuget.org/packages/Microsoft.VisualStudio.Web.BrowserLink</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td> Microsoft.Win32.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/Microsoft.Win32.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td>Microsoft.Win32.Registry</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/Microsoft.Win32.Registry</td>
    <td>MIT License</td>
  </tr>


  <tr>
    <td>MS Entity Framework	6.2.0</td>
    <td>6.2.0</td>
    <td>http://www.nuget.org/packages/EntityFramework</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>netstandard</td>
    <td>2.0.3</td>
    <td>https://github.com/dotnet/standard/tree/v2.0.3</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>Newtonsoft.Json</td>
    <td>11.0.2</td>
    <td>https://github.com/JamesNK/Newtonsoft.Json/tree/11.0.2</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>Newtonsoft.Json.Bson</td>
    <td>1.0.1</td>
    <td>https://github.com/JamesNK/Newtonsoft.Json.Bson</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>NLog</td>
    <td>4.7.5</td>
    <td>https://github.com/NLog/NLog</td>
    <td>BSD (Three Clause License)</td>
  </tr>



  <tr>
    <td>NLog.Web.AspNetCore</td>
    <td>4.9.3</td>
    <td>https://github.com/NLog/NLog.Web</td>
    <td>BSD (Three Clause License)</td>
  </tr>


  <tr>
    <td>NLog/NLog.Extensions.Logging</td>
    <td>1.6.4</td>
    <td>https://github.com/NLog/NLog.Extensions.Logging</td>
    <td>BSD (Two Clause License)</td>
  </tr>
  <tr>
    <td>Remotion.Linq</td>
    <td>2.2.0</td>
    <td>https://github.com/re-motion/Relinq/tree/v2.2.0</td>
    <td>Apache License 2.0</td>
  </tr>


  <tr>
    <td>Swashbuckle.AspNetCore</td>
    <td>4.0.1</td>
    <td>http://github.com/domaindrivendev/Swashbuckle.AspNetCore/</td>
    <td>MIT License</td>
  </tr>


  <tr>
    <td>Swashbuckle.AspNetCore.Swagger</td>
    <td>4.0.1</td>
    <td>https://github.com/domaindrivendev/Swashbuckle.AspNetCore</td>
    <td>MIT License</td>
  </tr>


  <tr>
    <td>Swashbuckle.AspNetCore.SwaggerGen</td>
    <td>4.0.1</td>
    <td>https://github.com/domaindrivendev/Swashbuckle.AspNetCore</td>
    <td>MIT License</td>
  </tr>


  <tr>
    <td>Swashbuckle.AspNetCore.SwaggerUI</td>
    <td>4.0.1</td>
    <td>https://github.com/domaindrivendev/Swashbuckle.AspNetCore</td>
    <td>MIT License</td>
  </tr>

  <tr>
    <td>System.AppContext</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.AppContext</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td>System.Buffers</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Buffers</td>
    <td>MIT License</td>
  </tr>



  <tr>
    <td>System.Collections</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Collections</td>
    <td>Microsoft .NET Library License</td>
  </tr>

  <tr>
    <td>System.Collections.Concurrent</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Collections.Concurrent</td>
    <td>Microsoft .NET Library License</td>
  </tr>

  <tr>
    <td>system.collections.immutable</td>
    <td>1.5.0</td>
    <td>http://www.nuget.org/packages/System.Collections.Immutable</td>
    <td>MIT License</td>
  </tr>


  <tr>
    <td>System.Collections.NonGeneric</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Collections.NonGeneric</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td>System.Collections.Specialized</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Collections.Specialized</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td>System.ComponentModel</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.ComponentModel</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td>System.ComponentModel.Annotations</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.ComponentModel.Annotations</td>
    <td>MIT License</td>
  </tr>


  <tr>
    <td>System.ComponentModel.EventBasedAsync</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.ComponentModel.EventBasedAsync</td>
    <td>Microsoft .NET Library License</td>
  </tr>

  <tr>
    <td> System.ComponentModel.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.ComponentModel.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>



  <tr>
    <td>System.ComponentModel.TypeConverter</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.ComponentModel.TypeConverter</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td> System.Console</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Console</td>
    <td>Microsoft .NET Library License</td>
  </tr>

  <tr>
    <td>System.Data.Common</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Data.Common</td>
    <td>Microsoft .NET Library License</td>
  </tr>



  <tr>
    <td>System.Data.SqlClient</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Data.SqlClient</td>
    <td>Microsoft .NET Library License</td>
  </tr>

  <tr>
    <td>System.Data.SQLite Core</td>
    <td>1.0.109</td>
    <td>https://system.data.sqlite.org/index.html/doc/trunk/www/source.wiki</td>
    <td>Public Domain</td>
  </tr>


  <tr>
    <td>System.Data.SQLite.EF6</td>
    <td>1.0.109</td>
    <td>https://system.data.sqlite.org/index.html/doc/trunk/www/index.wiki</td>
    <td>Public Domain</td>
  </tr>


  <tr>
    <td>System.Data.SQLite.Linq</td>
    <td>1.0.109</td>
    <td>https://system.data.sqlite.org/index.html/doc/trunk/www/index.wiki</td>
    <td>Public Domain</td>
  </tr>

  <tr>
    <td>System.Diagnostics.Contracts</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.Contracts</td>
    <td>Microsoft .NET Library License</td>
  </tr>


  <tr>
    <td>System.Diagnostics.Debug</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.Debug</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.DiagnosticSource</td>
    <td>4.3.0</td>
    <td>https://www.nuget.org/packages/System.Diagnostics.DiagnosticSource</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.FileVersionInfo</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.FileVersionInfo</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.Process</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.Process</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.StackTrace</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.StackTrace</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.TextWriterTraceListener</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.TextWriterTraceListener</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.Tools</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.Tools</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.TraceSource</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.TraceSource</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Diagnostics.Tracing</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Diagnostics.Tracing</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Drawing.Common</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Drawing.Common</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Drawing.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Drawing.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Dynamic.Runtime</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Dynamic.Runtime</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Globalization</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Globalization</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Globalization.Calendars</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Globalization.Calendars</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Globalization.Extensions</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Globalization.Extensions</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Interactive.Async</td>
    <td>3.1.1</td>
    <td>https://www.nuget.org/packages/System.Interactive.Async</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.IO</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.Compression</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.Compression</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.Compression.ZipFile</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.Compression.ZipFile</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.FileSystem</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.FileSystem</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.FileSystem.DriveInfo</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.FileSystem.DriveInfo</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.FileSystem.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.FileSystem.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.FileSystem.Watcher</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.FileSystem.Watcher</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.IsolatedStorage</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.IsolatedStorage</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.MemoryMappedFiles</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.MemoryMappedFiles</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.Pipelines</td>
    <td>4.5.1</td>
    <td>http://www.nuget.org/packages/System.IO.Pipelines</td>
    <td>BSD (Two Clause License)</td>
  </tr>
  <tr>
    <td>System.IO.Pipes</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.Pipes</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.IO.UnmanagedMemoryStream</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.IO.UnmanagedMemoryStream</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Linq</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Linq</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Linq.Expressions</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Linq.Expressions</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Linq.Parallel</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Linq.Parallel</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Linq.Queryable</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Linq.Queryable</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Memory</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Memory</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Net.Http</td>
    <td>4.3.2</td>
    <td>http://www.nuget.org/packages/System.Net.Http</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.Http.Formatting</td>
    <td>5.2.6</td>
    <tdhttps: //www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/5.2.6td>
      <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.NameResolution</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.NameResolution</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.NetworkInformation</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.NetworkInformation</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.Ping</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.Ping</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.Requests</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.Requests</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.Security</td>
    <td>4.3.2</td>
    <td>http://www.nuget.org/packages/System.Net.Security</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.Sockets</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.Sockets</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.WebHeaderCollection</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.WebHeaderCollection</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.WebSockets</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Net.WebSockets</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.WebSockets.Client</td>
    <td>4.3.2</td>
    <td>http://www.nuget.org/packages/System.Net.WebSockets.Client</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Net.WebSockets.WebSocketProtocol</td>
    <td>4.5.0</td>
    <td>https://dotnet.microsoft.com/</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Numerics.Vectors.dll</td>
    <td>4.5.0</td>
    <td>https://github.com/dotnet/corefx/tree/master</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.ObjectModel</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.ObjectModel</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Reflection</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Reflection</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Reflection.Extensions</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Reflection.Extensions</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Reflection.Metadata</td>
    <td>1.6.0</td>
    <td>http://www.nuget.org/packages/System.Reflection.Metadata</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Reflection.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Reflection.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Resources.Reader</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Resources.Reader</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Resources.ResourceManager</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Resources.ResourceManager</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Resources.Writer</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Resources.Writer</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.CompilerServices.Unsafe</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Runtime.CompilerServices.VisualC</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.CompilerServices.VisualC</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Extensions</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Extensions</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Handles</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Handles</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.InteropServices</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.InteropServices</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.InteropServices.RuntimeInformation</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.InteropServices.RuntimeInformation</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Numerics</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Numerics</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Serialization.Formatters</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Serialization.Formatters</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Serialization.Json</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Serialization.Json</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Serialization.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Serialization.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Runtime.Serialization.Xml</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Runtime.Serialization.Xml</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.AccessControl</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Security.AccessControl	</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Security.Claims</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.Claims	</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.Algorithms</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.Algorithms</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.Cng</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.Cng</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.Csp</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.Csp</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.Encoding</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.Encoding</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.Primitives</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.Primitives</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.X509Certificates</td>
    <td>4.3.2</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.X509Certificates</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Cryptography.Xml</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Security.Cryptography.Xml</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Security.Permissions</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Security.Permissions</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Security.Principal</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.Principal</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Security.Principal.Windows</td>
    <td>5.0.0</td>
    <td>https://github.com/dotnet/runtime</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Security.SecureString</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Security.SecureString</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Text.Encoding</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Text.Encoding</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Text.Encoding.CodePages</td>
    <td>5.0.0</td>
    <td>https://github.com/dotnet/runtime/tree/v5.0.0</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Text.Encoding.Extensions</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Text.Encoding.Extensions</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Text.Encodings.Web</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Text.Encodings.Web</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Text.RegularExpressions</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Text.RegularExpressions</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading.Overlapped</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading.Overlapped</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading.Tasks</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading.Tasks</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading.Tasks.Extensions</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.Threading.Tasks.Extensions</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Threading.Tasks.Parallel</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading.Tasks.Parallel</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading.Thread</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading.Thread</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading.ThreadPool</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading.ThreadPool</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Threading.Timer</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Threading.Timer</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.ValueTuple</td>
    <td>4.5.0</td>
    <td>http://www.nuget.org/packages/System.ValueTuple</td>
    <td>MIT License</td>
  </tr>
  <tr>
    <td>System.Xml.ReaderWriter</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Xml.ReaderWriter</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Xml.XDocument</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Xml.XDocument</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Xml.XmlDocument</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Xml.XmlDocument</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Xml.XmlSerializer</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Xml.XmlSerializer</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Xml.XPath</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Xml.XPath</td>
    <td>Microsoft .NET Library License</td>
  </tr>
  <tr>
    <td>System.Xml.XPath.XDocument</td>
    <td>4.3.0</td>
    <td>http://www.nuget.org/packages/System.Xml.XPath.XDocument</td>
    <td>Microsoft .NET Library License</td>
  </tr>


</table>
