@import 'imports.scss';
@import 'variables/font-face.scss';
@import 'base/typography.scss';
@import 'base/layout.scss';
@import 'base/basic.scss';
@import 'base/button.scss';
@import 'components/loading-spinner.component';
@import 'components/dropdown.component';
@import 'components/footer-nav.component';
@import 'components/full-header.component';
@import 'components/language-selector.component';
@import 'components/navigation.component';
@import 'components/popover.component';
@import 'components/breadcrumbs.component';
@import 'components/form-input.component';
@import 'components/form-checkbox.component';
@import 'components/modal.component';
@import 'components/search-result.component';
@import 'components/tab-panel.component';
@import 'components/callout.component';
@import 'components/teaser-panel.component';
@import 'components/board-item.component';


.supergraphic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url($supergraphic-path--xs);
}

.supergraphic.bar {
  height: 14px;
}
