<footer>
  <div class="Copyright">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column">
      <div class="flex-item" fxFlex=41>
        <div class="heading"> © 2018 Robert Bosch GmbH</div>
      </div>
      <div class="flex-item" fxFlex=39>
        <ul class="navigation u-UnstyledList">

          <li class="navigationItem">
            <div class="A-Link ">

              <!--<a href="https://www.bosch.com/corporate-information/?prevent-auto-open-privacy-settings=1" target="_blank">
            <span class="linkText">{{'resources.imprints_privacy_statement'|translate}}</span>
          </a>-->
              <a target="_blank" rel="noopener" href="/imprints" (click)="imprintsClicked()">

                <span class="linkText">{{'resources.imprints_privacy_statement'|translate}}</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex-item" fxFlex=20>
        <ul class="navigation u-UnstyledList">
          <li class="navigationItem">
            <div class="A-Link">
              <span class="goRight">Powered by <b>Bosch Service Solutions</b>  </span>
            </div>
          </li>
          </ul>
        </div>

      </div>
    </div>
</footer>
<div class="footer-bar"></div>


