<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>

    <httpHandlers>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx"
        type="BotDetect.Web.SimpleCaptchaHandler, BotDetect"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<security>
      <requestFiltering removeServerHeader="true" />
    </security>-->
    <handlers>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode"
        verb="GET" path="BotDetectCaptcha.ashx"
        type="BotDetect.Web.SimpleCaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="IronOcr.LicenseKey" value="IRONOCR-305688D353-100412-7AFE1C-E4D2FDCCBF-3DABD63-UEx64BC98D289408D8-RABITASOFTWARE.IRO190530.4616.92109.ORG.5DEV.1YR.SUPPORTED.UNTIL.30.MAY.2020"/>
  </appSettings>
</configuration>