$button-height--regular: $form-element-height;
$button-height--smaller: 40px;
$button-height--tiny: 30px;

$button-padding-horizontal--regular: 40px;
$button-padding-horizontal--smaller: 20px;
$button-padding-horizontal--tiny: 10px;

$button-default-border-width--regular: 1px;
$button-default-border-width--smaller: 1px;
$button-default-border-width--tiny: 1px;

$button-border-bottom-width--regular: 2px;
$button-border-bottom-width--smaller: 2px;
$button-border-bottom-width--tiny: 0;

// Font sizes

$button-font-size--regular: map-get($font-sizes, small);
$button-font-size--smaller: map-get($font-sizes, smaller);
$button-font-size--tiny: map-get($font-sizes, smallest);

// Colors

$button-default-text-color: $font-color-base;
$button-default-text-color--disabled: $color-gray-alto;
$button-default-background-color: transparent;
$button-default-border-color: $color-gray-silver;
$button-default-border-color--active: $color-black-pitch-dark;
$button-default-border-color--disabled: $color-gray-alabaster;
$button-default-border-color--inverted: $color-white-paper-white;
$button-default-border-color--inverted--active: $color-gray-silver-sand;
$button-default-border-color--dark: $color-black-pitch-dark;
$button-default-border-color--dark--active: $color-gray-silver;

$button-primary-text-color: $font-color-base--inverted;
$button-primary-background-color: $brand-primary;
$button-primary-background-color--active: $color-blue-dark-matisse;
$button-primary-background-color--disabled: $color-blue-botticelli--pastell;
$button-primary-border-color: $color-blue-light-lochmara;
$button-primary-border-color--active: $color-blue-dark-bahama-blue;
$button-primary-border-color--disabled: $color-blue-tropical--pastell;

$button-secondary-text-color: $font-color-base--inverted;
$button-secondary-background-color: $color-gray-alto;
$button-secondary-background-color--active: $color-gray-alto-light;
$button-secondary-background-color--disabled: $color-gray-alabaster;
$button-secondary-border-color: $color-gray-silver;
$button-secondary-border-color--active: $color-gray-alto;
$button-secondary-border-color--disabled: $color-gray-athens;

$button-inverted-text-color: $font-color-base--inverted;
$button-inverted-background-color: rgba(254, 254, 254, 0);
$button-inverted-background-color--active: rgba(254, 254, 254, 0.05);
$button-inverted-border-color: $color-white-paper-white;
$button-inverted-border-color--active: $color-white-paper-white;
$button-inverted-border-width: 1px;
$button-inverted-border-style: solid;
$button-inverted-transparency--disabled: .5;

$button-danger-color: $color-red-monza--pastell;
$button-danger-color--active: $color-red-monza;

$button-elemnt-color--inverted: $color-white-paper-white;


.rb-btn {
  border: 0 solid;
  border-radius: 0;
  box-sizing: border-box;

  // doiuse-disable outline
  // As we do not use outline-offset the partial support by IE is not an issue for us
  outline: none;
  // doiuse-enable
}

.rb-btn {
  background: $button-default-background-color;
  color: $button-default-text-color;
  border-color: $button-default-border-color;
  transition: border $ease-in-out-quint $transition-duration-m;
  border-width: $button-default-border-width--smaller;
  line-height: $button-height--smaller;
  padding: 0 $button-padding-horizontal--smaller;
  font-size: $button-font-size--smaller;
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  rb-icon {
    fill: $button-default-text-color;
    vertical-align: middle;
  }

  &.rb-regular {
    border-width: $button-default-border-width--regular;
  }

  &.rb-smaller {
    border-width: $button-default-border-width--smaller;
  }

  &.rb-tiny {
    border-width: $button-default-border-width--tiny;
  }

  &:disabled,
  &.disabled {
    color: $button-default-text-color--disabled;
    rb-icon {
      fill: $button-default-text-color--disabled;
    }
    border-color: $button-default-border-color--disabled;
  }

  &:not(:disabled) {

    &:hover,
    &:active,
    &:focus {
      border-color: $button-default-border-color--active;
      color: $button-default-text-color;
      rb-icon {
        fill: $button-default-text-color;
      }
    }
  }

  &.rb-primary {
    color: $button-primary-text-color;
    border-color: $button-primary-border-color;
    rb-icon {
      fill: $button-primary-text-color;
    }

    &:disabled,
    &.disabled {
      background-color: $button-primary-background-color--disabled;
      border-color: $button-primary-border-color--disabled;
      color: $button-primary-text-color;
      rb-icon {
        fill: $button-primary-text-color;
      }
    }

    &:not(:disabled) {

      @include appear-from-bottom($button-primary-background-color, $button-primary-background-color--active);

      &:hover,
      &:active,
      &:focus {
        color: $button-primary-text-color;
        border-color: $button-primary-border-color--active;
        rb-icon {
          fill: $button-primary-text-color;
        }
      }
    }
  }

  &.rb-secondary {
    color: $button-secondary-text-color;
    border-color: $button-secondary-border-color;
    rb-icon {
      fill: $button-secondary-text-color;
    }

    &:disabled,
    &.disabled {
      background-color: $button-secondary-background-color--disabled;
      border-color: $button-secondary-border-color--disabled;
    }

    &:not(:disabled) {

      @include appear-from-bottom($button-secondary-background-color, $button-secondary-background-color--active);

      &:hover,
      &:active,
      &:focus {
        color: $button-secondary-text-color;
        border-color: $button-secondary-border-color--active;
        rb-icon {
          fill: $button-secondary-text-color;
        }
      }
    }
  }

  &.rb-danger {
    border-color: $button-danger-color;
    color: $button-danger-color--active;

    rb-icon {
      fill: $button-danger-color--active;
    }

    &:disabled,
    &.disabled {
      color: $button-default-text-color--disabled;
      rb-icon {
        fill: $button-default-text-color--disabled;
      }
      border-color: $button-default-border-color--disabled;
    }

    &:not(:disabled) {

      &:hover,
      &:active,
      &:focus {
        color: $button-danger-color--active;
        border-color: $button-danger-color--active;
        rb-icon {
          fill: $button-danger-color--active;
        }
      }
    }

  }

  &.rb-inverted {
    color: $button-inverted-text-color;
    border: $button-inverted-border-width $button-inverted-border-style $button-inverted-border-color;
    transition: background $ease-in-out-quint $transition-duration-m;
    rb-icon {
      fill: $button-inverted-text-color;
    }

    &:disabled,
    &.disabled {
      background: $button-inverted-background-color;
      opacity: $button-inverted-transparency--disabled;
    }

    &:not(:disabled) {

      @include appear-from-bottom($button-inverted-background-color, $button-inverted-background-color--active);

      &:hover,
      &:active,
      &:focus {
        color: $button-inverted-text-color;
        border-color: $button-inverted-border-color--active;
        rb-icon {
          fill: $button-inverted-text-color;
        }
      }
    }
  }

  &.rb-link {
    color: $link-color--primary;
    border: none;
    transition: none;
    background: none;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0 $button-padding-horizontal--tiny;
    font-size: $button-font-size--regular;

    > rb-icon {
      fill: $link-color--primary;
    }

    &:disabled,
    &.disabled {
      opacity: .5;
    }

    &:not(:disabled) {

      &:hover,
      &:active,
      &:focus {
        color: $link-color--primary--hover;
        cursor: pointer;
        > rb-icon {
          fill: $link-color--primary--hover;
        }
      }
    }
  }

  &.rb-passive-link {
    color: $font-color-base;
    border: none;
    transition: none;
    background: none;
    line-height: inherit;
    padding: 0 $button-padding-horizontal--tiny;
    font-size: $button-font-size--regular;

    > rb-icon {
      fill: $font-color-base;
    }

    &:disabled,
    &.disabled {
      opacity: .5;
    }

    &:not(:disabled) {

      &:hover,
      &:active,
      &:focus {
        color: $link-color--primary;
        cursor: pointer;
        > rb-icon {
          fill: $link-color--primary;
        }
      }
    }
  }

  &.rb-regular {
    line-height: $button-height--regular;
    padding: 0 $button-padding-horizontal--regular;
    font-size: $button-font-size--regular;
  }

  &.rb-smaller {
    line-height: $button-height--smaller;
    padding: 0 $button-padding-horizontal--smaller;
    font-size: $button-font-size--smaller;
  }

  &.rb-tiny {
    line-height: $button-height--tiny;
    padding: 0 $button-padding-horizontal--tiny;
    font-size: $button-font-size--tiny;
  }

  &.rb-large {
    line-height: $button-height--regular;
    padding: 0 $button-padding-horizontal--regular;
    font-size: map-get($font-sizes, big);
  }

  &.rb-primary,
  &.rb-secondary {
    transition: border, background $ease-in-out-quint $transition-duration-m;
    border-bottom-width: $button-border-bottom-width--regular;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;

    &.rb-regular {
      border-bottom-width: $button-border-bottom-width--regular;
    }

    &.rb-smaller {
      border-bottom-width: $button-border-bottom-width--smaller;
    }

    &.rb-tiny {
      border-bottom-width: $button-border-bottom-width--tiny;
    }

    &.rb-large {
      border-bottom-width: $button-border-bottom-width--regular;
    }
  }

  &.rb-full-width {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}


